html{
    box-sizing:border-box;
}
*,*::before,*::after{
    box-sizing:inherit;
}
*{
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #30363b;
}

/* bad-script-regular - latin */
@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bad-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Bad Script Regular'), local('BadScript-Regular'),
         url('../fonts/bad-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bad-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bad-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bad-script-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bad-script-v9-latin-regular.svg#BadScript') format('svg'); /* Legacy iOS */
  }


/*storm begin*/
.intro_storm{
    position: relative;
    height: 100vh;
}

.intro_media{
        width: 100%;
        background-size: cover!important;
}
video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.sidebar_storm{
    position: absolute;
    background: #30363b;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    overflow-x: hidden;
}

.tab{
    background-color: #30363b;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    color: white;
}
.tabs{
    background: #30363b;
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.tabs ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs .screen {
    width: 50%;
    text-align: center;
    float: left;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.screen_1 {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
}
.img_screen{
    width: 60px;
    height: 60px;
    margin: 15px;
}
.tab_content{
    height: 450px;
}

.tabs_item{
    display: block;
}
.line{
    max-width: 50%;
    text-align: center;
}

.logo{
    max-width: 50%;
    text-align: center;
    padding-left: 30px;
}
.audio-track{
    width: 170px;
    height: 3px;
    background-color: rgb(10, 161, 68);
    margin: 20px 0;
}
.time{
    width: 0;
    height: 3px;
    background-color: rgb(180, 180, 180);
}
.audio_controls{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play img {
    width: 60px;
    height: 60px;
}




/*storm end*/