// main: ../stil.less

.btn {
    display: inline-block;
    vertical-align: top;
    padding: .5em 1em;
    background-color: #ccc;
    border-radius: @radius;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: .4s linear;


    & + &{
        margin-left: 1rem;
    }

    span {
        color: @black;
    }

    &:hover, &:focus{
        outline: 0;
        background-color: #c4c4c4;
    }

    &--primary {
        .btn(@primary);
    }
    &--secondary {
      .btn(@secondary);
    }
    &--green {
        .btn(#22f557);
    }
}